# Dependencies:
# Flask = 
pip install Flask
# Flask-Login = 
pip install Flask-Login
# Flask-WTF = 
pip install Flask-WTF
# Flask-Bootstrap5 = 
pip install Flask_Bootstrap5
pip install bootstrap-flask
# Flask-SQLAlchemny = 
pip install Flask-SQLAlchemy
pip install email-validator
# Requests for downloading images
pip install requests

""" Instructions for SQLAlchemy Database Creation: 

	Open terminal in from website startpoint folder
	Type in 'python' and hit enter
	Then copy and paste the following code into the interpreter and hit enter
	
	from event_management import create_app, db
	app=create_app()
	ctx=app.app_context()
    ctx.push()
    db.create_all() 
	exit() # to exit the interpreter

This is recommened to be done on all ends. It is not recommened to share the actual events.db on github. Create your own locally and it will
automatically update from models.py.
To make github ignore the db. Create a file in the root on VSC, called '.gitignore'. The add the following two lines
*.db
instance/
Save the file and commit it before commiting the db file and intance. This will prevent it from happening otherwise you will have to manually remove it
"""