/* Base Styles */
html, body {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    margin-top: auto;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/* Card styles */
.card {
    height: 240px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 140px;
    object-fit: cover;
}

/* Carousel styles */
.carousel {
    max-width: 500px;
    height: 300px;
    margin: 20px auto;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(67, 67, 67, 0.8);
    padding: 10px;
    border-radius: 5px;
}


@media (max-width: 768px) {
.carousel {
    max-width: 100%;
    margin: 0;
}
/* Mobile carousel styles */
.carousel-item img {
    max-height: 250px;
}
}