{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="container text-white align-items: center">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Login</h1>
            <p>Please enter your credentials to log in.</p>
            {{ render_form(form, button_map={'submit': 'btn btn-primary', 'back': 'btn btn-danger'}) }}
            <div class="form-group">
                <a href="/auth/register">No account? Sign up here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- <a class="btn btn-outline-primary my-2 my-sm-0 me-3" href="{{ url_for('auth.register') }}">Register</a> -->